@model Negev2.Models.Layer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Layer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>שם</th>
            <th>כמות</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SitesByYear)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentCropId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentLayerId)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
