<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="float:right">
                <li>@Html.ActionLink("הכנסת גידולים", "OptimalIndex", "Optimal")</li>
                <li>@Html.ActionLink("ניתוח תכנון קיים", "AnalayzerIndex", "Analayzer")</li>
                <li>@Html.ActionLink("היסטוריית חלקות", "HistoryIndex", "History")</li>
                <li>@Html.ActionLink("איזורי התכנות", "AreasIndex", "Areas")</li>
                <li>@Html.ActionLink("DataBase", "Index", "Database")</li>
            </ul>
            @Html.ActionLink("התנתק", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
</div>
